.cursor {
  background-color: white;
  border-radius: 0.75rem;
  height: 1.5rem;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 300ms;
  transition-property: transform;
  width: 1.5rem;
  z-index: 1000;
}

html:has(a:hover) .cursor {
  transform: translate(-50%, -50%) scale(2);
}
