@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
}

body {
  @apply bg-neutral-50 dark:bg-black text-neutral-50;
}

a:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
