.projects {
  display: flex;
  flex-direction: column;
  gap: 6vmin;
  padding: 6vmin;
  overflow-x: hidden;
}

.project {
  border-radius: 6vmin;
  display: flex;
  flex-direction: column;
  gap: calc(4vmin + 1rem);
  min-height: calc(100svh - 12vmin);
  overflow: hidden;
  padding: inherit;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateZ(0);
  mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.project:not(:first-of-type) {
  z-index: 1;
}

.project h3 {
  font-size: calc(8vmin + 1rem);
  font-weight: 700;
  line-height: 1;
}

.project p {
  font-size: calc(1vmin + 0.8rem);
  max-width: 1024px;
}

.project.bio {
  align-items: center;
  justify-content: center;
  overflow: visible;
  mask-image: none;
}

.project.bio h3:first-of-type {
  font-size: calc(8vmin + 1rem);
}
.project.bio h3:last-of-type {
  font-size: calc(2.5vmin + 0.5rem);
}

.project.bio h3,
.project.bio p,
.project.bio svg {
  mix-blend-mode: difference;
}

.project.candid {
  background: linear-gradient(135deg, #022c22, #0a0a0a);
  color: #ecfdf5;
}

.project.candid a {
  outline-color: #ecfdf5;
}

.project.moonphased {
  background: linear-gradient(135deg, #171717, #0a0a0a);
  color: #fefce8;
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateX(33%) translateY(-33%) translateZ(0);
}

.project.moonphased h3,
.project.moonphased p,
.project.moonphased svg {
  mix-blend-mode: difference;
}

.project.moonphased a {
  outline-color: #fefce8;
}

.project.gradelicious h3,
.project.gradelicious p,
.project.gradelicious svg {
  color: white;
  mix-blend-mode: overlay;
}

.project.gradelicious a {
  outline-color: white;
}

.project.candid img {
  position: absolute;
  top: 0;
  border: 1px solid #022c22;
  transform-origin: top left;
}

.project.candid img:nth-child(1) {
  transform: translate(60%, 10%) rotateX(40deg) rotateY(30deg) rotate(350deg);
}

.project.candid img:nth-child(2) {
  transform: translate(30%, 15%) rotateX(40deg) rotateY(30deg) rotate(350deg);
}

.project.candid img:nth-child(3) {
  transform: translate(0%, 20%) rotateX(40deg) rotateY(30deg) rotate(350deg);
}

.links {
  display: flex;
  gap: calc(3vmin + 1rem);
}

.linkCircle {
  border-radius: 50%;
}

.linkNpm {
  border-radius: 0.125rem;
}
