.projects {
  display: flex;
  flex-direction: column;
  gap: 6vmin;
  padding: 6vmin;
}

.project {
  border-radius: 6vmin;
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  min-height: calc(100svh - 12vmin);
  overflow: hidden;
  padding: inherit;
  position: relative;
}

.project h3 {
  font-size: calc(4vmin + 0.6rem);
  font-weight: 700;
  line-height: 1;
}

.project p {
  font-size: calc(1.5vmin + 0.6rem);
  max-width: 1024px;
}

.project.bio {
  background: linear-gradient(135deg, #0a0a0a, black);
}

.project.bio h3,
.project.bio p {
  mix-blend-mode: difference;
}

.project.candid {
  background: linear-gradient(135deg, #022c22, #0a0a0a);
  color: #ecfdf5;
}

.project.candid a {
  outline-color: #ecfdf5;
}

.project.moonphased {
  background: linear-gradient(135deg, #171717, #0a0a0a);
  color: #fefce8;
  justify-content: flex-end;
}

.project.moonphased h3,
.project.moonphased p,
.project.moonphased svg {
  mix-blend-mode: difference;
}

.project.moonphased a {
  outline-color: #fefce8;
}

.project.gradelicious h3,
.project.gradelicious p,
.project.gradelicious svg {
  color: white;
  mix-blend-mode: overlay;
}

.project.gradelicious a {
  outline-color: white;
}

.links {
  display: flex;
  gap: 3vmin;
}

.linkCircle {
  border-radius: 50%;
}

.linkNpm {
  border-radius: 0.125rem;
}
